<ion-header>
  <ion-toolbar>
    <ion-title>Range Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>

    <ion-item>
      <ion-range class="cust-range" min="-200" max="200" color="secondary">
        <ion-label slot="start">-200</ion-label>
        <ion-label slot="end">200</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-range min="20" max="80" step="2">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary"></ion-range>
    </ion-item>

    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" ticks="false" color="secondary"></ion-range>
    </ion-item>

    <ion-item>
      <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true"></ion-range>
    </ion-item>

    <ion-range min="0" max="100" dualKnobs="true" pin="true" snaps="true" step="1" value="0"
      (ionChange)="rangeChange($event)">
    </ion-range>
<!-- debounce to get the value once -->
    <ion-range min="0" max="100" debounce="500" snaps="true" dualKnobs="true" ticks="true" step="20" value="0"
      pin="true" color="danger" (ionChange)="rangeChange($event)">
      <ion-icon size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon slot="end" name="sunny"></ion-icon>
    </ion-range>
    <!-- need to specify color for bars after scroll also color="dark" -->
    <!-- snaps="true" means the bars / intervals bar   if true, the knob snaps to tick marks evenly spaced based on the step property value. -->
    <ion-range min="0" max="100" pin="true" snaps="true" step="10" ticks="true" value="0" color="dark"
      (ionChange)="rangeChange($event)">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-list>
</ion-content>