<ion-header>
  <ion-toolbar>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentAlert()" shape="round">
    Present Alert
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" shape="round">
    Alert Multiple Buttons
  </ion-button>
  <ion-button (click)="presentAlertConfirm()" shape="round">
    Alert Confirm
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" shape="round">
    Alert Prompt
  </ion-button>
  <ion-button (click)="presentAlertRadio()" shape="round">
    Alert Radio
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" shape="round">
    Alert Checkbox
  </ion-button>
</ion-content>