ion-slides {
  height: 100%;
}

.bg-1 {
  // background-color: #00acc1;
  background-image: url('../../../assets/images/1.jpg');
  background-size: cover;
}
.bg-2 {
  // background-color: #fbc02d;
  background-image: url('../../../assets/images/2.jpg');
  background-size: cover;
}
.bg-3 {
  // background-color: #7cb342;
  background-image: url('../../../assets/images/3.jpg');
  background-size: cover;
}
